body {
  margin: 0;
  color: #36454f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 1em;
  max-width: 1280px;
  margin: auto;
}

.csv-upload-container {
  padding: 36px 0;
  font-size: 1.3em;
}

#airbnb-csv-upload {
  color: #ee3300;
  font-size: 1.2em;
}

.sample-button-container {
  padding: 12px 0 24px 0;
}

.go-back-button {
  background-color: #4682B4;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
}

#sample-data-button {
  font-size: 1.2em;
}

h1 a {
  color: #4682B4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.static-data-container {
  display: flex;
  border-top: 1px solid #bdbdbd;
}

.static-data-container > div {
  flex: 1;
  padding: 1em;
}

.data-grouping > div:first-of-type {
  background: #36454f;
  color: #ffffff;
}

.data-grouping > div:first-of-type > div {
  cursor: pointer;
}

.filter{
  display: flex;
}

.main-filter {
  margin-bottom: 16px;
}

.filter > div{
  background-color: #bdbdbd;
  padding: 10px 24px;
  border-right: 1px solid #ffffff;
  cursor: pointer;
}

.filter > .active {
  background-color: #36454f;
  color: #ffffff;
}

.main-group, .month-data {
  display: none;
}

.main-group.active {
  display: block;
}

.month-data.active {
  display: flex;
}