body {
  margin: 0;
  color: #272727;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 1em;
  max-width: 1280px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.static-data-container {
  display: flex;
  border-top: 1px solid #bdbdbd;
}

.static-data-container > div {
  flex: 1;
  padding: 0.5em 0;
}

.data-grouping > div:first-of-type {
  background: #59cedb;
  color: #ffffff;
}

.month-filter{
  display: flex;
  justify-content: space-between;
}

.month-filter span{
  background-color: #bdbdbd;
  padding: 10px 24px;
  border-radius: 4px;
  cursor: pointer;
}