body {
  margin: 0;
  color: #36454f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  padding: 1em;
  max-width: 1280px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.static-data-container {
  display: flex;
  border-top: 1px solid #bdbdbd;
}

.static-data-container > div {
  flex: 1;
  padding: 1em;
}

.data-grouping > div:first-of-type {
  background: #36454f;
  color: #ffffff;
}

.filter{
  display: flex;
}

.filter > div{
  background-color: #bdbdbd;
  padding: 10px 24px;
  border-right: 1px solid #ffffff;
  cursor: pointer;
}

.filter > .active {
  background-color: #36454f;
  color: #ffffff;
}

.main-group, .month-data {
  display: none;
}

.main-group.active {
  display: block;
}

.month-data.active {
  display: flex;
}